# git ignore file
/ExploreMVC3/ExploreMVC3/obj/Debug/ExploreMVC3.csproj.FileListAbsolute.txt
/ExploreMVC3/ExploreMVC3.Data/obj/Debug/ExploreMVC3.Data.csproj.FileListAbsolute.txt
/ExploreMVC3/ExploreMVC3.Data.Interface/obj/Debug/ExploreMVC3.Data.Interface.csproj.FileListAbsolute.txt
/ExploreMVC3/ExploreMVC3.Entity/obj/Debug/ExploreMVC3.Entity.csproj.FileListAbsolute.txt
/ExploreMVC3/ExploreMVC3.Infrastructure/obj/Debug/ExploreMVC3.Infrastructure.csproj.FileListAbsolute.txt
/ExploreMVC3/ExploreMVC3.Service.Contract/obj/Debug/ExploreMVC3.Service.Contract.csproj.FileListAbsolute.txt
/ExploreMVC3/ExploreMVC3.Service/obj/Debug/ExploreMVC3.Service.csproj.FileListAbsolute.txt
/ExploreMVC3/ExploreMVC3.Service.Tests/obj/Debug/ExploreMVC3.Service.Tests.csproj.FileListAbsolute.txt
/ExploreMVC3/ExploreMVC3.Tests/obj/Debug/ExploreMVC3.Tests.csproj.FileListAbsolute.txt
/ExploreMVC3/ExploreMVC3.WCF/obj/Debug/ExploreMVC3.WCF.csproj.FileListAbsolute.txt
/ExploreMVC3/ExploreMVC3.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExploreMVC3/ExploreMVC3.Entity/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExploreMVC3/ExploreMVC3.Infrastructure/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExploreMVC3/ExploreMVC3.Service.Contract/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExploreMVC3/ExploreMVC3.Service.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExploreMVC3/ExploreMVC3.Service/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExploreMVC3/ExploreMVC3.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExploreMVC3/ExploreMVC3.WCF/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExploreMVC3/ExploreMVC3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExploreMVC3/ExploreMVC3.Service.Tests/obj/Debug/ResolveAssemblyReference.cache
/ExploreMVC3/ExploreMVC3.Tests/obj/Debug/ResolveAssemblyReference.cache
/ExploreMVC3/ExploreMVC3/obj/Debug/ResolveAssemblyReference.cache
/ExploreMVC3/ExploreMVC3.Data.Interface/bin/Debug/ExploreMVC3.Data.Interface.dll
/ExploreMVC3/ExploreMVC3.Data.Interface/obj/Debug/ExploreMVC3.Data.Interface.dll
/ExploreMVC3/ExploreMVC3/bin/ExploreMVC3.dll
/ExploreMVC3/ExploreMVC3/obj/Debug/ExploreMVC3.dll
/ExploreMVC3/ExploreMVC3.Entity/bin/Debug/ExploreMVC3.Entity.dll
/ExploreMVC3/ExploreMVC3.Entity/obj/Debug/ExploreMVC3.Entity.dll
/ExploreMVC3/ExploreMVC3.Infrastructure/bin/Debug/ExploreMVC3.Infrastructure.dll
/ExploreMVC3/ExploreMVC3.Infrastructure/obj/Debug/ExploreMVC3.Infrastructure.dll
/ExploreMVC3/ExploreMVC3.Service.Contract/bin/Debug/ExploreMVC3.Service.Contract.dll
/ExploreMVC3/ExploreMVC3.Service.Contract/obj/Debug/ExploreMVC3.Service.Contract.dll
/ExploreMVC3/ExploreMVC3.Service/bin/Debug/ExploreMVC3.Service.dll
/ExploreMVC3/ExploreMVC3.Service/obj/Debug/ExploreMVC3.Service.dll
/ExploreMVC3/ExploreMVC3.Service.Tests/bin/Debug/ExploreMVC3.Service.Tests.dll
/ExploreMVC3/ExploreMVC3.Service.Tests/obj/Debug/ExploreMVC3.Service.Tests.dll
/ExploreMVC3/ExploreMVC3.WCF/bin/ExploreMVC3.WCF.dll
/ExploreMVC3/ExploreMVC3.WCF/obj/Debug/ExploreMVC3.WCF.dll
/ExploreMVC3/ExploreMVC3/obj/Debug/TempPE/Service References.ServiceReference1.Reference.cs.dll
/ExploreMVC3/ExploreMVC3.Data/bin/Debug/ExploreMVC3.Data.pdb
/ExploreMVC3/ExploreMVC3.Data/obj/Debug/ExploreMVC3.Data.pdb
/ExploreMVC3/ExploreMVC3.Entity/bin/Debug/ExploreMVC3.Entity.pdb
/ExploreMVC3/ExploreMVC3.Entity/obj/Debug/ExploreMVC3.Entity.pdb
/ExploreMVC3/ExploreMVC3.Infrastructure/bin/Debug/ExploreMVC3.Infrastructure.pdb
/ExploreMVC3/ExploreMVC3.Infrastructure/obj/Debug/ExploreMVC3.Infrastructure.pdb
/ExploreMVC3/ExploreMVC3/bin/ExploreMVC3.pdb
/ExploreMVC3/ExploreMVC3/obj/Debug/ExploreMVC3.pdb
/ExploreMVC3/ExploreMVC3.Service.Contract/bin/Debug/ExploreMVC3.Service.Contract.pdb
/ExploreMVC3/ExploreMVC3.Service.Contract/obj/Debug/ExploreMVC3.Service.Contract.pdb
/ExploreMVC3/ExploreMVC3.Service/bin/Debug/ExploreMVC3.Service.pdb
/ExploreMVC3/ExploreMVC3.Service/obj/Debug/ExploreMVC3.Service.pdb
/ExploreMVC3/ExploreMVC3.Service.Tests/bin/Debug/ExploreMVC3.Service.Tests.pdb
/ExploreMVC3/ExploreMVC3.Service.Tests/obj/Debug/ExploreMVC3.Service.Tests.pdb
/ExploreMVC3/ExploreMVC3.WCF/bin/ExploreMVC3.WCF.pdb
/ExploreMVC3/ExploreMVC3.WCF/obj/Debug/ExploreMVC3.WCF.pdb
/ExploreMVC3/ExploreMVC3.Data.Interface/bin/Debug/.gitignore
/ExploreMVC3/ExploreMVC3.Data.Interface/obj/Debug/.gitignore
/ExploreMVC3/ExploreMVC3.Data/bin/Debug/.gitignore
/ExploreMVC3/ExploreMVC3.Data/obj/Debug/.gitignore
/ExploreMVC3/ExploreMVC3.Tests/bin/Debug/ExploreMVC3.Tests.dll.config
/ExploreMVC3/ExploreMVC3.Tests/bin/Debug/ExploreMVC3.dll
/ExploreMVC3/ExploreMVC3.Tests/bin/Debug/ExploreMVC3.Tests.dll
/ExploreMVC3/ExploreMVC3.Tests/obj/Debug/ExploreMVC3.Tests.dll
/ExploreMVC3/ExploreMVC3.Tests/bin/Debug/Interop.SHDocVw.dll
/ExploreMVC3/ExploreMVC3.Tests/bin/Debug/TechTalk.SpecFlow.dll
/ExploreMVC3/ExploreMVC3.Tests/bin/Debug/WatiN.Core.dll
/ExploreMVC3/ExploreMVC3.Tests/bin/Debug/ExploreMVC3.pdb
/ExploreMVC3/ExploreMVC3.Tests/bin/Debug/ExploreMVC3.Tests.pdb
/ExploreMVC3/ExploreMVC3.Tests/obj/Debug/ExploreMVC3.Tests.pdb