@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<div id="target">
</div>
<input id="reload" type="button" value="Reload" />
<input id="reloadFromUrl" type="button" value="Reload from Url" />
<input id="newColumn" type="button" value="Add Column" />
<input id="showHideHidden" type="button" value="Show/Hide hidden column" />

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dynamicgrid.0.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.tablesorter.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui.1.8.11.min.js")"></script>
<script type="text/javascript">
    var months = ["January", "Febuary", "March",
                  "April", "May", "June",
                  "July", "August", "September",
                  "October", "November", "December"]

    $(document).ready(function () {

        $("#target").dynamicGrid({
            sortingEnabled: true,
            scrollable: true,
            height: 100,
            columns: [{ name: "Month", display: "Month", width: 150, align: "center", type: "string", sortable: true, customSortRule: sortMonths,
                dropdownListItems: [{ text: "January", value: "January" }, { text: "Febuary", value: "Febuary" }, { text: "March", value: "March" },
                                    { text: "April", value: "April" }, { text: "May", value: "May" }, { text: "June", value: "June" },
                                    { text: "July", value: "July" }, { text: "August", value: "August" }, { text: "September", value: "September" },
                                    { text: "October", value: "October" }, { text: "November", value: "November" }, { text: "December", value: "December"}]
            },
                      { name: "Income", display: "Income", width: 150, align: "center", type: "number" },
                      { name: "Expenditure", width: 150, align: "center", type: "number" },
                      { name: "Profit", width: 100, align: "center", hidden: true, type: "number?" },
                      { name: "Audit", width: 400, align: "center", type: "date" },
                      { name: "Approved", width: 80, align: "center", type: "boolean" },
                      { name: "Success", width: 80, align: "center", type: "boolean", dropdownListItems: [{ text: "yes", value: true }, { text: "no", value: false}] },
                      { name: "Edit", display: "", width: 120, customEditor: displayEditButton, displayEditor: true, sortable: false}],
            contents: [{ Month: "January", Income: 100, Expenditure: 50, Approved: true}],
            footer: [{ Month: "<B>Total</B>"}],
            afterContentLoaded: calculateTotal,
            afterSaveContent: afterSaveContent
        });

        $("#reload").click(reloadGrid);
        $("#reloadFromUrl").click(reloadFromUrl);
        $("#newColumn").click(addColumn);
        $("#showHideHidden").click(showHideHiddenColumn);
    });

    function sortMonths(item1, item2, column) {
        var item1Index = months.indexOf(item1[column.name]);
        var item2Index = months.indexOf(item2[column.name]);

        if (item1Index < item2Index) {
            if (column.sortDirection == "asc") {
                return -1;
            } else {
                return 1;
            }
        } else if (item1Index > item2Index) {
            if (column.sortDirection == "asc") {
                return 1;
            } else {
                return -1;
            }
        } else if (item1Index == item2Index) {
            return 0;
        }
    }

    function reloadGrid() {
        $("#target").dynamicGrid('render');
    }

    function reloadFromUrl() {
        $("#target").dynamicGrid('reloadContents', '@Url.Action("GetContents")');
    }

    function addColumn() {
        var target = $("#target");
        target.dynamicGrid('addColumn', { name: "NewColumn", display: "New Column", width: "100px", align: "center" });
        target.dynamicGrid('render');
    }

    function calculateTotal(option) {
        var totalIncome = 0;
        var totalExpenditure = 0;

        $.each(option.contents, function (index, element) {
            totalIncome += element.Income;
            totalExpenditure += element.Expenditure;
        });

        option.footer[0].Income = totalIncome;
        option.footer[0].Expenditure = totalExpenditure;
        option.footer[0].Profit = totalIncome - totalExpenditure;
    }

    function afterSaveContent(option) {
        calculateTotal(option);
        $("#target").dynamicGrid('render', option);
    }

    function showHideHiddenColumn() {
        var target = $("#target");
        target.dynamicGrid('toggleHiddenColumn', 'Profit');
    }

    function editRow(index) {
        var target = $("#target");
        target.dynamicGrid('setRowEditable', index, true);
    }

    function saveRow(rowIndex) {
        var target = $("#target");
        target.dynamicGrid('save', rowIndex);
        target.dynamicGrid('setRowEditable', rowIndex, false);
    }

    function displayEditButton(targetColumn, rowIndex, column) {
        var span = $("<span />").attr("id", column.name + "[" + rowIndex + "]")
        var editButton = $("<input type='button'/>")
                            .val("Edit")
                            .click(function () { editRow(rowIndex) });

        var saveButton = $("<input type='button'/>")
                            .val("Save")
                            .click(function () { saveRow(rowIndex) });

        span.append(editButton);
        span.append(saveButton);

        targetColumn.append(span);
    }
</script>
